{% extends "blog/base.html" %}
{% block content%}
<style>
img {
    max-width: 100%;
    height: auto;
}
</style>
  <article class="media content-section">
    <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="#">{{ object.author }}</a>
        <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
        {% if object.author == user %}
        <div>
          <a class="btn btn-success" href="{% url 'post-update' object.id %}">Update</a>
          <a class="btn btn-danger" href="{% url 'post-delete' object.id %}">Delete</a>
        </div>
        {% endif %}
      </div>
      <h2 class="article-title">{{ object.title }}</h2>
      <p class="article-content">{{ object.content }}</p>
      <pclass="article-content">Weight: {{ object.weight }} kg<p/>
      <pclass="article-content">Price: {{ object.price }} EURO<p/>
      <div class="portrait">
        <img src="{{ post.image.url }}" width="460" height="345">
      </div>
    </div>
  </article>
{% endblock content %}
